/*Global styles ------------------------------------------*/

/*Browser Display Specs*/
aside, article, section, header, footer, nav {
	display: block;
}
/*Limited Reset*/
html, body, div, h1, h2, h3, h4, h5, h6, p, ul, li {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align:baseline;
	font: inherit;
}

body {
	font: 100% Cantarell, Arial, Helvetica, sans-serif;
	line-height: 1.5;
	position: relative;
	background: #fff;
	color: rgb(76, 67, 65);
	font-weight:normal;
	font-style:normal;
}
a {
	text-decoration: none;
	color: #667F6A;
}
.preview a {
	display: block;
	height:100%;
}
nav ul {
	list-style: none;
}

/*Banner Styles ------------------------------------------*/
.banner h1 {
	text-transform: uppercase;
}
#banner-character {
	font-size: 1.5em;
	color: #92a3bf;
}

/*Nav Styles ------------------------------------------*/
#mainNav {
	overflow: hidden;
	margin-bottom: 1.5em;

	background-color: #92a3bf;
}
#mainNav li {
	float: left;
}
#mainNav a {
	display: block;
	text-transform: uppercase;
	color: #405888;
	border: none;
	margin: .8em auto;
}
#mainNav a:hover {
	/*color: rgb(123,121,143);*/
	color: #f5f5d1;
}
#mainNav a em {
	color: #405888;
}

/*article styles ------------------------------------------*/
article section { 																
	border-bottom: 2px solid rgb(76, 67, 65);								 /*possibly duplicated in desktop media styles*/
	margin-bottom: 2em;
}
article h1 {
	font: 1.8em Cardo, Georgia, serif;
	border-bottom: 2px solid rgb(76, 67, 65);
	margin-bottom: 1.5em;
}
article h2 a {
	color: rgb(76, 67, 65);
	border: none;
}
article h2 a:hover {
	color: rgb(123, 121, 143);
	border: none;
}
span.sub_a {
	font-style: italic;
}
.preview a, .preview a:hover {
	display: block;
	border: none;
}

/*aside styles ------------------------------------------*/
aside h2 {
	font-family: Cardo, Georgia, serif;
}

/*Footer Styles ------------------------------------------*/
footer {
	height: 100px;
	clear: both;
	text-align: center;

	background-color: #92a3bf;
}
.contact-info a {
	color: #d3ddee;
	padding: 10px;
	display: inline-block;
}
footer p {
	color: #d3ddee;
	font-size: .8em;
}

/*@Media Styles (Mobile) -----------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 480px) {
/*Global Styles ------------------------------------------*/
	body {
		width: 100%;
		margin: 0 auto;
		min-width: 320px;
		max-width: 480px;
	}

/*Banner Styles ------------------------------------------*/
	.banner {
		background: #92a3bf;
		position: relative;
		height: 100px;
	}
	.banner h1 {
		display: none;
	}
	.banner p {
		display: none
	}
	.banner #mobile_header {
		display: block;
		color: #fff;
		font-size: 1.8em;
		font-weight: bold;
		text-transform: lowercase;
		text-transform: capitalize;
		padding-left: 5%;
		padding-top: 15px;
	}
/*Mobile Dropdown Styles ------------------------------------------*/
	.mobile_nav {
		background-color: #405888;
		margin-top: 17px;
	}
	.mobile_dropbtn {
	    background-color: #405888;
	    color: #fff;
	    font-size: 1em;
	    border: none;
	    cursor: pointer;
	    height: 2em;
	    padding-left: 1em;
	    padding-right: 1.5em;
	}
	.mobile_dropdown {
		background-color: #405888;
	    position: relative;
	    display: inline-block;
	}
	.mobile_dropdown-content {
	    display: none;
	    position: absolute;
	    background-color: #f9f9f9;
	    min-width: 200px;
	    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	    z-index: 1;
	}
	.mobile_dropdown-content a {
	    color: black;
	    padding: 5px 16px;
	    text-decoration: none;
	    display: block;
	}
	.mobile_dropdown-content a:hover {
		background-color: #92a3bf;
	}
	.mobile_dropdown:hover .mobile_dropdown-content {
	    display: block;
	}
	.mobile_dropdown:hover .mobile_dropbtn {
	   background-color: #405888;
	}
	#mainNav {
		display: none;
	}

/*Article Styles ------------------------------------------*/
	article {
		float: left;
		width: 95%;
		padding: 0 3.9%;
		margin-top: 2em;
	}
	article section {
		margin-bottom: 1.6em;
	}

	article h2 {
		font: 1.5em Cardo, Georgia, serif;
		float: left;
		margin-bottom: .5em;
	}
	span.sub_a {
		display: none;
	}
	article p {
		font-size: 1em;
		margin-bottom: .5em;
	}
	article p.pubdate {
		font-size: 1em;
		text-transform: small-caps;
		float: right;
	}
	article .preview {
		height: 175px;
		margin-bottom: .5em;
		clear:both;
	}
	.supai .preview {
		background: url(../images/new.png) no-repeat, url(../images/sm_supai_banner.jpg) no-repeat;
	}
	.iceland .preview {
		background: url(../images/sm_iceland_banner.jpg) no-repeat;
	}
	.apostleislands .preview {
		background: url(../images/sm_apostleislands_banner.jpg) no-repeat;
	}
	span.sub_a {
		font-size: .7em;
	}

/*Aside Styles ------------------------------------------*/
	aside {
		width: 95%;
		padding: 0 3.9%;
		text-align: center;
	}
	
	aside nav h2 {
		font-size: 1.5em;
		text-align: center;
	}
	 aside nav ul {
	 	display: none;
	 }
	 .dropbtn {
		width: 232px;
	    background-color: #405888;
	    color: #fff;
	    padding: 10px;
	    font-size: 1em;
	    border: none;
	    cursor: pointer;
	}
		
	.dropdown {
	    position: relative;
    	display: inline-block;
    	margin-bottom: 2em;
    	margin-top: 1em;
	}
	.dropdown-content {
		display: none;
		position: absolute;
		background-color: #f9f9f9;
		min-width: 200px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		padding: 5px 16px;
		text-align: left;
		z-index: 1;
	}
	.dropdown-content a {
	    color: black;
	    padding: 5px 16px;
	    text-decoration: none;
	    display: block;
	}
	.dropdown-content a:hover {
		background-color: #889ac2;
	}
	.dropdown:hover .dropdown-content {
	    display: block;
	}
	.dropdown:hover .dropbtn {
	   background-color: #405888;
	}
	 #aboutUs {
	 	border-top: 2px solid rgb(76, 67, 65);
	 	padding-top: 1.5em;
	 }
	 #aboutUs h2 {
	 	font-size: 1.5em;
	 	margin-bottom: 1em;
	 }
	 #aboutUs p {
	 	text-align: left;
	 	margin: 1.5em auto;
		font-size: .9em;
		width: 85%;
		line-height: 1.5;
	}

}

/*@Media Styles (Tablet) -----------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 481px) and (max-width: 768px) {
 /*Global Styles ------------------------------------------*/
	body {
		width: 90%;
		margin: 0 auto;
		min-width: 500px;
		max-width: 768px;
	}

/*Banner Styles ------------------------------------------*/
	.banner {
		/*padding-left: 3.9%;*/
		overflow: hidden;
		background: url(../images/tablet_banner_image.jpg) no-repeat;
		/*-margin-bottom: 4em;*/
		position: relative;
	}
	.banner h1 {
		font-weight: bold;
		/*font-size: 100%;*/
		color: #fff;
		/*padding-top: 210px;
		/*text-align: center;
		letter-spacing: .1em;*/

		margin-left: 3.9%;
		font-size: 1.5em;
		padding-top: 195px;
	}
	#mobile_header {
		display: none;
	}
	.banner p {
		padding: 1%;
		margin: 0 auto;
		margin-top: 15px;
		color: #fff;
		background: rgba(123, 121, 143, .7);

		background-color: #405888;
	}

/*Nav Styles ------------------------------------------*/
	#mainNav {
		/*width: 450px;*/

		border-radius: 0 0 10px 10px;
		margin: 0 auto;
	}
	#mainNav ul {
		margin-left: 3.9%
	}
	#mainNav li:last-child {
		margin-right: 0;
	}
	#mainNav a {
		font-weight: bold;
		font-size: .8em;
		text-align: center;
		padding-left: 15px;
	}
	#mainNav a:hover {
		color: #f5f5d1;
	}
	#mainNav em {
		font-weight: normal;
		font-size: .8em;
		display: block;
		text-transform: lowercase;
	}
	.mobile_nav {
		display: none;
	}

/*Article Styles ------------------------------------------*/
	article {
		width: 92.2%;
		padding: 0 3.9%;
	}
	article section {
		/*border-bottom: 2px solid rgb(76, 67, 65); 					possibly duplicated in the global styles and media styles*/
		margin-bottom: 1.6em;
		overflow: hidden;
		position: relative;
		padding-bottom: 1.6em;
	}
	article h1 {
		padding: 20px 0 5px;
	}
	article h2 {
		font: 2.4em Cardo, Georgia, serif;
		float: left;
		clear: left;
		margin-bottom: 0;
		width: 40%;
	}
	span.sub_a {
		display: block;
		font-size: .5em;
	}
	article p {
		font-size: 1em;
		margin: 0;
		float: left;
		clear: left;
		width: 40%
	}
	article p.pubdate {
		font-size: .8em;
		text-transform: small-caps;
		float: left;
		clear: left;
		margin: 5px 0 3em;
		width: 40%;
	}
	article .preview {
		height: 175px;
		position: absolute;
		top: 0;
		right: 0;
		width: 55%;
	}
	.supai .preview {
		background: url(../images/sm_new.png) no-repeat, url(../images/sm_supai_banner.jpg) no-repeat;
	}
	.iceland .preview {
		background: url(../images/sm_iceland_banner.jpg) no-repeat;
	}
	.apostleislands .preview {
		background: url(../images/sm_apostleislands_banner.jpg) no-repeat;
	}

	/*Aside Styles ------------------------------------------*/
	aside {
		width: 92.2%;
		padding: 0 3.9%;
	}
	aside section {
		clear: both;
	}
	aside nav h2 {
		font-size: 1.5em;
		margin-bottom: 1em;
		/*border-top: 2px solid rgb(76, 67, 65);*/
		padding-top: .5em;
		float: left;
		margin-right: 1em;
	}
	 aside nav ul {
	 	display: none;
	 }
	 #aboutUs {
	 	border-top: 2px solid rgb(76, 67, 65);
	 	padding-top: 1.5em;
	 }
	 #aboutUs h2 {
	 	font-size: 1.5em;
	 	margin-bottom: 1em;
	 }
	 #aboutUs img {
	 	float: left;
	 	margin-bottom: 1em;
	 	margin-right: 1em;
	 }
	 #aboutUs p {
		font-size: .9em;
		margin-bottom: 1.5em;
		width: 85%;
		line-height: 1.5;
	}
	.dropbtn {
		width: 200px;
	    background-color: #405888;
	    color: #fff;
	    padding: 10px;
	    margin-top: .6em;
	    font-size: 1em;
	    border: none;
	    cursor: pointer;
	}
	.dropdown {
	    position: relative;
	    display: inline-block;
	}
	.dropdown-content {
	    display: none;
	    position: absolute;
	    background-color: #f9f9f9;
	    min-width: 200px;
	    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	    z-index: 1;
	}
	.dropdown-content a {
	    color: black;
	    padding: 5px 16px;
	    text-decoration: none;
	    display: block;
	}
	.dropdown-content a:hover {
		background-color: #889ac2;
	}
	.dropdown:hover .dropdown-content {
	    display: block;
	}
	.dropdown:hover .dropbtn {
	   background-color: #405888;
	}

}


/*@Media Styles (Desktop) -----------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 769px) {
	/*Global Styles ------------------------------------------*/
	body {
		width: 90%;
		margin: 0 auto;
		min-width: 1024px;
		max-width: 1280px;
	}

	/*Nav Styles ------------------------------------------*/
	#mainNav {
		border-radius: 0 0 10px 10px;

		background-color: #92a3bf;
	}
	#mainNav ul {
		margin-left: 3.9%
	}
	#mainNav li {
		margin-right: 3.6em;
	}
	#mainNav a {
		font-size: 1.2em;
		text-align: center;
		padding-left: 15px;
	}
	#mainNav em {
		font-size: .8em;
		display: block;
		text-transform: lowercase;
	}
	.mobile_nav {
		display: none;
	}

	/*Banner Styles ------------------------------------------*/
	.banner {
		height: 350px;
		padding-left: 3.9%;
		overflow: hidden;
		background: url(../images/desktop_banner_image.jpg) no-repeat;
		position: relative;
	}
	.banner h1 {
		font-size: 2em;
		color: #fff;
		padding-top: 290px;
		letter-spacing: .1em;
	}
	#mobile_header {
		display: none;
	}
	.banner p {
		width: 21%;
		padding: 2%;
		/*padding: 1% 1% 0;*/
		height: 350px;
		font-size: 1em;
		color: #fff;
		background: rgba(123, 121, 143, .7);
		position: absolute;
		top: 0;
		right: 0;

		background-color: #405888;
	}

	/*Article Styles ------------------------------------------*/
	article {
		float: left;
		width: 70.1%;
		padding-left:3.9%;
	}
	article section {
		margin-bottom: 2em;
	}
	article h2 {
		font: 2.8em Cardo, Georgia, serif;
		float: left;
		margin-bottom: .1em;
	}
	article p {
		font-size: 1.2em;
		margin: .8em 0;
	}
	article p.pubdate {
		font-size: 1.2em;
		text-transform: small-caps;
		float: right;
		padding-top: .8em;
		margin: 0;
	}
	article .preview {
		height: 250px;
		clear:both;
	}
	.supai .preview {
		background: url(../images/new.png) no-repeat, url(../images/supai_banner.jpg) no-repeat;
	}
	.iceland .preview {
		background: url(../images/iceland_banner.jpg) no-repeat;
	}
	.apostleislands .preview {
		background: url(../images/apostleislands_banner.jpg) no-repeat;
	}
	span.sub_a {
		font-size: .7em;
	}

	/*Aside Styles ------------------------------------------*/
	aside {
		float: right;
		width: 19%;
		padding-right: 3.9%;
	}
	aside h2 {
		font-size: 1.2em;
		text-align: center;
		margin-bottom: 1em;
		clear: both;
	}
	aside nav {
		margin-bottom: 2em;
	}
	aside nav a {
		display: block;
		padding-left: 16px;
		border: none;
		color: rgb(76, 67, 65);
		line-height: 2em;
		margin-bottom: 1px;
	}
	aside nav li {
		background: rgb(216, 213, 188);
	}
	aside nav li:nth-child(even) {
		background: rgb(237, 228, 214);
	}
	aside nav a:hover {
		color: #fff;
		border: none;
		background: #889ac2;
	}
	.dropdown {
		display: none;
	}
	#aboutUs img {
		display: block;
		margin: 0 auto;
		margin-bottom: 1em;
	}
	#aboutUs p {
		font-size: .9em;
		margin: 0 auto 1.5em;
	}
}